<div class="filtreContainer">

  <div class="filtre">
    <label for="periodfiltergroup">Filtre by period</label>
    <div id="periodfiltergroup">
      <p-radio color="primary-o" v-model="periodfilter" :checked="daily === periodfilter" :value="daily" name="periodfiltergroup">Daily</p-radio>
      <p-radio color="primary-o" v-model="periodfilter" :checked="weekly === periodfilter" :value="weekly" name="periodfiltergroup">Weekly</p-radio>
      <p-radio color="primary-o" v-model="periodfilter" :checked="monthly === periodfilter" :value="monthly" name="periodfiltergroup">Monthly</p-radio>
    </div>
  </div>

  <div class="filtre">
    <label for="periodfiltergroup">Filtre by price</label>
    <div>
      <p-radio color="primary-o" v-model="pricefilter" :checked="pricefilter  === marketOpen" :value="marketOpen" name="pricefiltergroup">Open</p-radio>
      <p-radio color="primary-o" v-model="pricefilter" :checked="pricefilter  === marketHigh" :value="marketHigh" name="pricefiltergroup">High</p-radio>
      <p-radio color="primary-o" v-model="pricefilter" :checked="pricefilter  === marketLow" :value="marketLow" name="pricefiltergroup">Low</p-radio>
      <p-radio color="primary-o" v-model="pricefilter" :checked="pricefilter  === marketClose" :value="marketClose" name="pricefiltergroup">Close</p-radio>
    </div>
  </div>

</div>
