<div class="filtreContainer">
  <div class="filtre">
    <p-radio color="primary-o" v-model="timefilter" :checked="isOpenSelected" value="1. open" name="timefiltergroup">Open</p-radio>
    <p-radio color="primary-o" v-model="timefilter" :checked="isHighSelected" value="2. high" name="timefiltergroup">High</p-radio>
    <p-radio color="primary-o" v-model="timefilter" :checked="isLowSelected" value="3. low" name="timefiltergroup">Low</p-radio>
    <p-radio color="primary-o" v-model="timefilter" :checked="isCloseSelected" value="4. close" name="timefiltergroup">Close</p-radio>
  </div>
</div>
