<div>
  <v-layout row="row" wrap="wrap" class="piechartdetail">
    <v-flex xs12 sm12="sm12" md12="md12" justify-center align-center>

      <v-flex md4 xs12 sm12 offset-md4>
        <v-form autocomplete="off" ref="form" lazy-validation="lazy-validation">

          <v-text-field placeholder="New company" v-model="newstock" data-vv-name="newstock" v-validate="'required|min:6'" data-vv-delay="100"
            data-vv-rules="required" solo required append-icon="add" :append-icon-cb="addCompanyStockSymbole" :error-messages="errors.collect('newchoice')"
            class="newstock"></v-text-field>
          <v-alert class="customerror" v-if="error !== null" type="error" :value="true" v-html="error" />

        </v-form>
      </v-flex>
    </v-flex>
  </v-layout>
</div>
